/* Color Variables */
:root{
  --dustyRose: #E8B4B8;
  --cream: #EED6D3; 
  --midnight: #41729F;
  --blueGray: #5885AF;
  --hoverPink: rgb(253, 233, 233);
  margin:0;
  padding: 0;
}

*{
  /* border: 2px red solid;  */
  margin: 0;
  padding: 0;
}

html{
  margin: 0;
  padding: 0;
}
